<table class="table">
    <thead>
        <tr>
            <th>No</th>
            <th>User</th>
            <th>Kitchen</th>
            <th>상담일자</th>
            <th>진행상황</th>
        </tr>
    </thead>
    <tbody>
            {% for consulting in consultings %}
        <tr>
            <td scope="row">{{ consulting.id }}</td>
            <td>GUEST</td>
            <td>{{ consulting.kitchen }}</td>
            <td>{{ consulting.datetime }}</td>
            <td><span style='color:red;'>신청 미승인</span></td>
        </tr>
        {% endfor %}
    </tbody>
</table>