{% extends "index.html" %}
{% load static %}
<!DOCTYPE html>

<body>
    {% block content_title %}Reservation{% endblock %}
    {% block content_explain %}{{kitchen.kitchen_name}}{% endblock %}
    <!-- content 내용 -->
    {% block content_content %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span8">
                <style>
                    table {
                        table-layout: fixed;
                    }

                    td>div {
                        height: 100px;
                        overflow: hidden;
                        white-space: nowrap;
                    }
                </style>
                <a
                    href="{% url 'reserve:calendar' kitchen_pk month_previous.year month_previous.month %}">[PREVIOUS]</a>
                {{ month_current | date:"Y년m월" }}
                <a href="{% url 'reserve:calendar' kitchen_pk month_next.year month_next.month %}">[NEXT]</a>
                <table class="table">
                    <thead>
                        <tr>
                            {% for w in week_names %}
                            <th>{{ w }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        <!-- week_day_schedules는 해당 주의 요일들을 dic에 저장한 형태. {1: [], 2:[] ...} -->
                        {% for week_day_schedules in month_day_schedules %}
                        <tr>
                            {% for day, schedules in week_day_schedules.items %}
                            {% if now == day %}
                            <td class="table-success">
                                {% else %}
                            <td>
                                {% endif %}

                                <div>
                                    {% if month_current.month != day.month %}
                                    {{ day | date:"m/d" }}
                                    {% else %}
                                    {{ day.day }}
                                    {% endif %}

                                    {% for schedule in schedules %}
                                    <p>{{ schedule.get_time_display }}</p>
                                    {% endfor %}
                                </div>
                            </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="span4">

            </div>
        </div>

    </div>
    {% for schedule in schedules %}
    {{schedule.start_time}}
    {% endfor %}
    {% endblock content_content %}
    <!-- content 내용 끝 -->
    {% block footer %}
    {% endblock footer %}
</body>

</html>