astroid==2.3.3
autopep8==1.4.4
branca==0.3.1
certifi==2019.9.11
chardet==3.0.4
Django==2.2.7
django-appconf==1.0.3
django-bootstrap-themes==3.3.6
django-compressor==2.3
folium==0.10.0
idna==2.8
isort==4.3.21
Jinja2==2.10.3
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
numpy==1.17.4
pycodestyle==2.5.0
pylint==2.4.4
pylint-django==2.0.13
pylint-plugin-utils==0.6
pytz==2019.3
rcssmin==1.0.6
requests==2.22.0
rjsmin==1.1.0
six==1.13.0
sqlparse==0.3.0
typed-ast==1.4.0
urllib3==1.25.7
wrapt==1.11.2
